.container{
    width: 1000px;
    max-width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    border: 1px solid red;
}

.nav__section {
  display: flex;
  justify-content: space-between ;
  
}

.nav__section ul{
    display: flex;
    gap: 32px;
}

.nav__section ul a > li{
    list-style-type: none;
    
    
}

ul > a{
    text-decoration: none;
}

.folio__name{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color:  hsla(215, 28%, 17%, 1);
;
}