.container{
    width: 100%;
    /* max-width: 100%; */
    padding: 0 20px;
    margin: 18px auto;
    /* border: 1px solid red; */
  
}

.scrollUp{
    position: fixed;
    bottom: 0;
    background-color: rgb(110, 136, 161);
    color: rgb(255, 255, 255);
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.nav__wrapper{
    width: 70%;
    margin: 0 auto;
}

.nav__section {
  display: flex;
  /* justify-content: space-between ; */
  align-items: center;
  
}

.nav__section ul{
    display: flex;
    gap: 32px;
}

.nav__section ul a > li{
    list-style-type: none;
   
    
    
}

ul > a{
    text-decoration: none;
    color: #1F2937;
    /* border: 1px solid red; */
    padding: 3px 10px;
     font-size: 16px;
    font-weight: 500;
    line-height: 32px;
}

.folio__name{
    flex: 1;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color:  hsla(215, 28%, 17%, 1);
}

.theme {
  margin-left: 32px;
  background-color: #E5E7EB;
  padding: 8px 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.biography{
    margin-top: 130px;
   
}

.bg__circle {
  display: flex;
  gap: 10px;
}
.circle__wrapper {

 position: relative;
    margin-bottom: 48px;
    width: 80%;
    
  
}
.biography__info{
    position: absolute;
    top: 100px;
    left: 200px;
   
}

.circle{
    width: 25rem;
    height: 25rem;
      background: linear-gradient(132deg, rgb(221, 221, 221) 0.00%, rgb(110, 136, 161) 100.00%);
    border-radius: 50%;
    filter: blur(25px);
}
.name, .hi{
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    font-style: normal;
}
.bio_text {
  white-space: pre;
  text-align: justify;
  margin-top: 32px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.name{
    margin-top: 8px;
}
.folio__image{
    width: 403px;
    height: 403px;    
}

.img__port{
width: 100%;
background: linear-gradient(135.33deg, #FFFFFF -27.63%, rgba(255, 255, 255, 0.3) 168.03%);
border-right: 25px solid rgba(254, 207, 215, 0.5);
object-fit: cover;
border-radius: 50%;
    
   
}

.btn__components {
  display: flex;
  gap: 8px;
  margin-bottom: 112px;
  margin-left: 25px;
}

.btn__default{
 width: 320px;
 height: 48px;
 border-radius: 8px;
 text-align: center;
 cursor: pointer;
 border: none;
}

.btn__together{
    background: hsla(215, 28%, 17%, 1);
    color: rgb(255, 255, 255);
    fill: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

}

.btn__together:hover{
    background: rgb(255, 255, 255);
    color: hsla(215, 28%, 17%, 1);
    transition: 1s;
    
 
}

.btn__workExp{
    background-color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

}

.btn__workExp:hover{
    background-color: hsla(215, 28%, 17%, 1);
    color: rgb(255, 255, 255);
   transition: 1s;

}

.arr{
    margin-left: 10px;
    font-size: 18px;

}

/*About styles*/

.about {
  padding: 144px 10px 100px 10px;
  display: flex;
  justify-content: space-between;
  
}

.about__circle__left {
   background: linear-gradient(132deg, rgb(221, 221, 221) 0.00%, rgb(110, 136, 161) 100.00%);
   width: 15rem;
   height: 15rem;
   border-radius: 50ch;
filter: blur(8px);
}
.about__circle__right {
    background: linear-gradient(132deg, rgb(221, 221, 221) 0.00%, rgb(110, 136, 161) 100.00%);
   width: 15rem;
   height: 15rem;
   border-radius: 50ch;
    filter: blur(20px);
}

.about__about {
  border: 1px solid green;
  
  flex: 1;

}

.about__text{
    width: 80%;
    border: 1px solid red;
    margin-bottom: 48px;
  
}

.text__{
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}

.text__me{
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    margin-top: 8px;
}

.brief_intro{
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    width: 616px;
    margin-top: 24px;
    
}

li{
    list-style: none;
}

.stacks__ {
  display: flex;
}

.stck_lst{
    margin-bottom: 10px;
}

.stck_name{
    margin-bottom: 8px;
}
/*
*  background: linear-gradient(189deg, rgb(34, 181, 254) 0.00%, rgb(255, 186, 214) 1.31%);
    width: 20rem;
    height: 25rem;
    border-top-right-radius: 0ch;
    border-top-left-radius: 90ch;
    border-bottom-left-radius: 0ch;
    border-bottom-right-radius: 110ch;
*/